node_modules/
.node_modules/
dist/*
~*.docx
\#*\#
.\#*
*.swp
coverage/
internal/
**/.DS_Store
.settings
**/.vs
**/.vscode
.idea
*.iml
yarn.lock
yarn-error.log
out/*
src/**/*.js
src/**/*.js.map
public/local/client/
.cert/*